.header{
    color:greenyellow;
   
    font-size: 30px;
    font-style:italic;
    margin-right: 20px;
    margin-bottom: -200px   

}
body{ 
    background-image: url('https://cdn.mos.cms.futurecdn.net/7SmC8rwYMcweftUP4LgAvX.jpg');
    background-repeat: no-repeat;
    position: static;
    overflow-x: hidden; 
    overflow:auto;
    margin-left: 0px;
    background-size:cover;
}
.topnav {
    overflow:hidden;
    width:1850px;
    padding: 10px;
    margin-right:auto;
    margin: auto;
    background-color:darkcyan;
    margin-bottom:0px;
    position: absolute;
    top:-20px;
    margin-left:0px;
    left: 0px;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
 
    
}
.topnav a{
    float:left;
    display:block;
    color:#f2f2f2;
    text-align: center;
    padding:14px 16px;
    text-decoration:none;
}
.topnav a:hover{
    background-color:coral;
    color:black:
}
.topnav a.home{
    color: black;
}
.topnav a.contact{
    float: right;
    margin-right: 10px;
}
.topnav a.helpline{
    float: right;
    
}
.topnav span.header{
    font-size: 30px;
}
.main{
	margin: auto;
  	width: auto;
  	text-align :left
 
}
span.total{
    display: inline-block;
    padding:20px;
    width:100px;
    background-color:goldenrod;
    font-size:20px;
    margin-left:400px;
    border-radius: 20px;
    top:500px;
    margin-top: 180px;
}
span.deaths{
    display: inline-block;
    padding: 20px;
    width: 100px;
    background-color:red;
    font-size: 20px;
    margin-left:100px;
    border-radius: 20px;
    top:200px;
    margin-top: 180px;
}
span.recovered{
    display: inline-block;
    padding: 20px;
    width: 100px;
    background-color:lightgreen;
    font-size: 20px;
    margin-left:100px;
    border-radius: 20px;
    top:200px;
    margin-top: 180px;
    
}
.footer{
    display: block;
    width: 100%;
    background-color:cornsilk;
    position: absolute;
    margin: 0;
    padding: 0;
    height: auto;
    bottom: 0;
    
    text-align: center;
    
}
.search{
    float: none;
    padding: 36px 66px;
    margin-top:15px;
    margin-left: 400px;
    padding: 30px;
    background-color: orangered;
    width: 600px;
    height: 100%;
    border-radius: 20px;
    
}
@media screen and(max-width:1000px){
    .search{
        float: none;
    }
}
.search input{
    height: 50px;
    width: 470px;
}

.search button {
   top: 200px;
    float: right;
    padding: -5px -5px;
    margin-top:-2px;
    margin-right: 5px;
    font-size: 17px;
    border: none;
    cursor: pointer;

    
}
